.inputContainer {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  position: relative;
}

.input {
  background: rgba(0,0,0,0.1);
  font-family: sans-serif;
  resize: both;
  height: auto;
  overflow: hidden;
  width: 400px;
  font-size: 2rem;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
}