.dragContainer {
  position: fixed;
}

.handle {
  background: none;
  border: none;
  cursor: grab;
  appearance: none;
  display: block;
  width: 14px;
  height: 12px;

  background-image: url(../../assets/icons/grip-horizontal.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  z-index: 2;
  top: 15px;
  left: 6px;

  opacity: 0.5;

  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}
