.fieldset {
  display: flex;
}

// css inspired by https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accessible-radio-buttons
// specifically the very last codepen

.radio {
  opacity: 0;
  position: relative;
  z-index: 2;

  &:checked + label {
    img {
      opacity: 1;
    }

    @media screen and (-ms-high-contrast: active) {
      & {
        background: WindowText;
      }
    }
  }

  &:focus + label {
    /* The first box shadow makes the border thicker without
         moving the UI (like border-width would). */
    box-shadow: 0 0px 0px 1px #6f686a, 0 0px 8px #db3846;

    /* Since box shadows don't show up in high contrast mode,
         we're adding a transparent outline (which does show up). */
    outline: 2px dotted transparent;
  }
}

$borderRadius: 3px;

.label-1 {
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.label-3 {
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

$width: 40px;
$height: 30px;

// radio wrapper, form-group
.wrap {
  position: relative;
  width: $width;
  height: $height;
}

.label {
  cursor: pointer;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: $width;
  height: $height;
  padding: 4px;
  border: 1px solid #ccc;

  img {
    opacity: 0.4;
    display: block;
    height: 100%;
    width: auto;
  }
}
